.badge {
   background-color: red;
   position: absolute;
   top: -5px;
   right: 0px;
   font-weight: 300;
   font-size: 14px;
   padding: 2px 5px;
   border-radius: 10px;
   color: white;
}

// *! > .badge {
//    position: relative;
// }
